APP_NAME=Cafeteria
APP_ENV=local
APP_DEBUG=false
APP_URL=http://127.0.0.1:8000
APP_TIMEZONE=Africa/Cairo
APP_CURRENCY=EGP

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=cafeteria_dev
DB_USER=cafeteria_app
DB_PASSWORD=change-me-locally
DB_CHARSET=utf8mb4