<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>

        <testsuite name="Integration">
            <directory suffix="Test.php">tests/Integration</directory>
        </testsuite>

        <testsuite name="Feature">
            <directory suffix="Test.php">tests/Feature</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">app</directory>
        </include>
    </source>

    <php>
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="false"/>
        <env name="APP_TIMEZONE" value="Africa/Cairo"/>
        <env name="APP_CURRENCY" value="EGP"/>
        <env name="DB_HOST" value="127.0.0.1"/>
        <env name="DB_PORT" value="3306"/>
        <env name="DB_NAME" value="cafeteria_test"/>
        <env name="DB_USER" value="root"/>
        <env name="DB_PASSWORD" value="root"/>
        <env name="DB_CHARSET" value="utf8mb4"/>
    </php>
</phpunit>
